.sources {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 120px;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}
.sources::-webkit-scrollbar {
    width: 1em;
}

.sources::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    width: 60vw;
}

.sources::-webkit-scrollbar-thumb {
    background-color: rgb(216, 47, 47);
    outline: 1px solid red;
    width: 60px;
    cursor: pointer;
}
.sources::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.source__item {
    background: none;
    border: 2px solid #393e46;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: white;
    background-color: #34495e;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
@media (max-width: 530px) {
    .source__item {
        border: 0.5px solid #393e46;
        margin: 3px;
        padding: 7px 3px;
        color: white;
        background-color: #34495e;
        transition: 0.25s;
        cursor: pointer;
    }
}
